<ion-header>
  <ion-navbar color="dark">

    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Início</ion-title>

    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content class="home" padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md-3 text-center>
        <button (click)='userCheckInOut()' class="checkinout" [ngClass]="{ 'is-loading': loading, 'is-sucess': sucess  }">
          <svg viewBox="0 0 90.594 59.714">
            <polyline class="check" fill="none" stroke="#FFFFFF" stroke-width="10" stroke-miterlimit="10" points="1.768,23.532 34.415,56.179 88.826,1.768"/>
          </svg>
          <span>Check-{{ checkin ? 'in' : 'out' }}</span>
        </button>
      </ion-col>
      <ion-col col-12 col-md-9>
        <ion-list>
          <ion-item-divider sticky>
            <h1>Check-in/out</h1>
          </ion-item-divider>
          <ion-item item-start *ngFor="let check of listCheckInOut">
            <h2>Check-{{ check.in_out }}</h2>
            <p>Hora: {{ check.created_at.date | date: 'HH:mm' }}</p>
          </ion-item>
          <ion-item item-start *ngIf="emptyList">
            <h3><i>Nenhum check-in/out realizado hoje</i></h3>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
