// Variáveis do Ionic e temas. Para mais informações: http://ionicframework.com/docs/theming/

// Caminho das fontes do projeto: ionicons, roboto, and noto sans fonts
$font-path: "../assets/fonts";

// Direção usada no projeto
$app-direction: ltr;

// Importa variáveis globais do Ionic
@import "ionic.globals";

// Variáveis compartilhadas
// --------------------------------------------------
// Para customizar a aparência da aplicação, você pode sobrepor
// as variáveis encontradas nos fontes .scss do Ionic.
// Para ver todas as possíveis variáveis:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Variáveis de cores nomeadas
// --------------------------------------------------
// Cores nomeadas tornam fácil o reuso de cores em multiplos componentes.
// Ionic usa um map de cores, é possível adicionar, renomear e remover
// cores conforme o necessário. A cor "primary" é a única que é obrigatória no map.

$colors: (
  primary: #2c4e2d,
  holder: #578458,
  secondary: #1ca82e,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: rgb(20, 36, 22)
);

// Variáveis para iOS
// --------------------------------------------------
// Aqui vão as variáveis somente para iOS

$label-ios-text-color-focused:#578458;

// Variáveis para Android
// --------------------------------------------------
// Aqui vão as variáveis somente para Android

$label-md-text-color-focused: #578458;

// Variáveis para Windows Phone
// --------------------------------------------------
// Aqui vão as variáveis somente para Windows Phone

$label-wp-text-color-focused: #578458;

// Tema da aplicação
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// Pacote de ícones do Ionic. Para mais informações: http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fontes
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
