<ion-header>
  <ion-navbar color="dark">

    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Usuários</ion-title>

    <ion-buttons end>
      <button ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content class="user" padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>     
        <form [formGroup]="userForm" (ngSubmit)="saveUser()">
          <ion-item-divider sticky>
              <h1>Cadastrar usuário</h1>
            </ion-item-divider>
          <ion-item>
            <ion-label>Nome</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>E-mail</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Senha</ion-label>
            <ion-input type="text" formControlName="password"></ion-input>
          </ion-item>
          <ion-item *ngIf="userLevel === 'gestor'">
            <ion-label>Nível</ion-label>
            <ion-select formControlName="level" interface="popover">
              <ion-option value="bolsista">Bolsista</ion-option>
              <ion-option value="orientador">Orientador</ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="['gestor', 'orientador'].includes(userLevel) && userForm.value.level === 'bolsista'">
            <ion-label>Área</ion-label>
            <ion-select formControlName="area" interface="popover">
              <ion-option value="apoio-discente">Apoio discente</ion-option>
              <ion-option value="extensao">Extensão</ion-option>
              <ion-option value="monitoria">Monitoria</ion-option>
              <ion-option value="pesquisa">Pesquisa</ion-option>
            </ion-select>
          </ion-item>
          <ion-buttons end>
            <button ion-button block type="submit" [disabled]="!userForm.valid">Salvar</button>
          </ion-buttons>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
