page-report {
  .report-user {
    background: #fff;
  }

  table {
    width: 100%;

    tbody {
      tr:nth-of-type(odd) {
        background-color:rgb(228, 228, 228);
      }
    }

    td {
      padding: 5px;
    }
  }
}
